.center{
  display: block;
  float: none !important;
  margin: 0 auto !important;
}

.hide{
  display: none;
}

.no-padding-sides{
  padding-left: 0;
  padding-right: 0;
}

.no-border{
  border: none;
}

ul{
  list-style: none;
  padding-left: 0;
}

.row{
  margin: 0;
}

label img{
  cursor: pointer;
}

.back-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-panel{
  /*padding-top: 15rem;*/
}

.title b{
  font-weight: 500;
}

.google-play{
  background-image: url(../images/play.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 66px;
  width: 180px;
}

.app-store{
  background-image: url(../images/store.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95%;
  cursor: pointer;
  height: 66px;
  width: 180px;
}

.login-panel .content{
  /*padding: 0;*/
}

.login-panel input{
  border: none;
}

.login-panel .btn{
  /*border: none;
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 100%;*/
}

.login-content{
  /*float: none;
  margin: 0 auto;
  width: 20%;*/
}

.card{
  /*background: transparent;*/
}

.checkbox{
  padding-left: 2.3rem;
}

.checkbox-container{
  padding-left: 0 !important;
}

.checkbox label{
  padding-left: 0;
}

.checkbox-label{
  margin-top: -1.49rem;
  font-size: 1.3rem;
}

.petshop-insert{
  float: none;
  margin: 0 auto;
}

.petshop-insert .card .header{
  padding: 25px 15px;
}

.petshop-insert .tab-pane h5{
  margin-top: 25px;
}

.petshop-insert .content{
  padding: 0;
}

.nav-pills>li{
  text-align: center;
}

.nav-pills>li+li{
  margin-left: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #FF8010;
  border-radius: 0;
  text-align: center;
}

label[for="image"]{
  display: block;
  float: none;
  margin: 0 auto;
}

.petshop-grid a{
  color: #fff;
  text-shadow: 1px 1px 1px #444;
}

.petshop-grid.petshop-select{
  padding-bottom: 4rem;
}

img.petshop-image{
  padding-top: 0;
}

.petshop-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid #888;
  border-radius: 150px;
  cursor: pointer;
  float: none;
  height: 120px;
  line-height: 14px;
  margin: 0 auto;
  padding-top: 3.8rem;
  width: 120px;
}

.petshop-image:hover{
  border-color: #0c9ddc;
  transition: all 0.3s ease;
}

.petshop-image span{
  font-size: 2.5rem;
}

.petshop-back-image{
  background: #E0E0E0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.petshop-back-image label[for="back_image"]{
  cursor: pointer;
  font-size: 0.92rem;
  padding-top: 10rem;
}

.petshop-container{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid #FF8010;
}

#image, #back_image{
  display: none;
}

.service-container .form-group{
  margin-bottom: 0;
}

.add-service{
  cursor: pointer;
  padding: 0 1rem 2rem 2rem !important;
}

.select-boxes{
  display: block;
  float: none;
  margin: 0 auto;
}

.form-control:focus{
  background: transparent;
  border-color: #0c9ddc;
}

.select-boxes-container .col-md-2{
  padding: 0 0.5rem !important;
  width: 20% !important;
}

.box{
  border: 2px solid #9a9a9a;
  border-radius: 4px;
  font-size: 1.6rem;
  height: 34px;
  padding-top: 0.5rem;
  text-align: center;
  transition: all 0.3s ease;
}

.box.active{
  background: #fff !important;
  border-color: #FF8010;
  color: #FF8010 !important;
}

.box span{
  cursor: pointer;
}

.box input{
  background: transparent;
  border: none;
  border-bottom: 1px solid #9a9a9a;
  border-radius: 0;
  color: #888;
  font-size: 12px;
  height: 20px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 60%;
}

.box h6{
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 2px;
  margin-top: 0.5rem;
  text-transform: lowercase;
}

.wizard-footer{
  padding: 10px 10px;
}

.petshop-container{
  border-radius: 3px;
  cursor: pointer;
  height: 97px;
  padding-top: 0.01rem;
  text-align: center;
}

.petshop-grid.petshop-select .petshop-container h4{
  font-size: 21px;
}

.petshop-container h4{
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 1.4rem;
}

.petshop-container h5{
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0.7rem;
}

.petshop-logo{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #0c9ddc;
  border-radius: 80px;
  height: 75px;
  margin: 0 auto;
  width: 75px;
}

.schedules-grid .schedule-container{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.schedule-container{
  border: none;
  margin-bottom: 0;
  padding: 0.8rem;
  text-align: left;
}

.sidebar-wrapper{
  box-shadow: inset -6px 1px 19px -12px #444;
}

.sidebar .user{
  margin-top: 2rem;
}

.sidebar .user .info{
  margin-top: 1rem;
}

.sidebar .user .info a[data-toggle="collapse"]{
  font-size: 1.8rem;
}

.sidebar .user .info #collapseExample ul.nav{
  margin-top: 5px;
}

.sidebar .user .photo, .bootstrap-navbar .user .photo {
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
}

.sidebar .user a{
  color: #fff;
}

.user-image{
  border: 3px solid;
  border-radius: 50px;
  float: left;
  height: 80px;
  margin-right: 1rem;
  width: 80px;
}

.schedule-container h3{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0.9rem;
}

.schedule-container h4{
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 0.4rem;
  text-transform: uppercase;
  width: 81%;
}

.schedule-container h4 span{
  font-weight: 600;
}

.next-service{
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.time{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 21px;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
}

.action-status-btn{
  float: right;
  margin-right: 0.4rem;
  margin-top: -6.1rem;
  text-align: center;
  width: 60px;
}

.action-status-btn i{
  font-size: 4rem;
  margin-bottom: 0.5rem;
  width: 100%;
  transition: all 0.3s ease;
}

.action-status-btn:hover i{
  font-weight: bolder;
  transition: all 0.5s ease;
}

.sweet-alert h2{
  font-weight: 300;
  margin: 10px 0;
  text-transform: uppercase;
}

.sweet-alert button.cancel {
    background-color: #9a9a9a;
    transition: all 0.3s ease;
}

.sweet-alert .sa-icon.sa-warning .sa-body{
  background-color: #FF8010 !important;
}

.sweet-alert button.confirm{
  background-color: #0c9ddc !important;
  box-shadow: #0c9ddc 0px 0px 2px, #0c9ddc 0px 0px 0px 1px inset !important;
}

.navbar-brand.logo{
  background-color: #0192D6;
  background-image: url(../images/logo.png);
  background-position: 4px center;
  background-repeat: no-repeat;
  background-size: 99%;
  border: 2px solid #F9C02F;
  cursor: pointer;
  height: 45px;
  width: 225px;
}

.sidebar .navbar-brand{
  display: block;
  float: none;
  height: 38px;
  margin: 0 auto;
  width: 190px;
}

.navbar-brand span{
  color: #c1c1c1;
}

.modal-header, .modal-footer{
  border: none;
}

.clockpicker-button{
  display: none;
}

.text-primary, .text-primary:hover{
  color: #0c9ddc !important;
}

.modal label{
  color: #9A9A9A;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.service-grid .back-image{
  box-shadow: inset 0px 5px 2px -1px rgba(0, 0, 0, 0.1);
  font-size: 3.5rem;
  padding-top: 1.8rem;
  text-align: center;
  text-shadow: none;
}

.service-grid .petshop-container{
  background-image: none !important;
  height: auto;
  margin-bottom: 2rem;
  text-shadow: none;
  transition: all 0.3s ease;
}

.service-grid .petshop-container:hover{
  background-color: #f5f5f5;
}

.service-grid .petshop-container .back-image{
  font-size: 2.8rem;
  height: 70px;
  width: 70px;
}

.service-grid .petshop-container h6{
  font-weight: bold;
  margin-bottom: 0.3rem;
  margin-top: 10px;
  text-transform: uppercase;
}

.service-grid .petshop-container p{
  font-size: 1.2rem;
}

.service-grid a{
  text-shadow: 1px 1px 1px #777;
}

.fc-start, .fc-start span{
  color: #fff !important;
}

.fc-start.Fi, span.Fi{
	background-color: #04cc09 !important;
}

.fc-start.Em, span.Em{
	background-color: #FF8010 !important;
}

.fc-start.Na, span.Na{
	background-color: #0c9ddc !important;
}

.fc-start.Ag, span.Ag{
	background-color: #ffc900 !important;
}

.fc-start.Ca, span.Ca{
	background-color: #FE0103 !important;
}

.modal-content.Ca .btn-danger{
  display: none;
}

.drum-wrapper{
  float: none;
  margin: 0 auto;
}

div.drum figure {
  color: #0C9DDC;
  font-size: 6rem;
  text-align: center;
}

div.drum-wrapper .inner{
  cursor: pointer;
}

div.drum-wrapper div.container{
  top: 35px;
}

div.drum-wrapper div.container, div.drum-wrapper figure {
  height: 50px;
  line-height: 50px;
}

div.drum-wrapper .dial{
  background-color: transparent;
  cursor: pointer;
}

div.drum-wrapper .dial svg{
  position: relative;
}

div.drum-wrapper .dial.down{
  top: 9rem;
}

.empty-error{
  padding-bottom: 1rem;
}

.service-details-modal p.category span.status-modal{
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem;
  text-transform: uppercase;
}

.service-details-modal p.category span.status-card{
  font-size: 1.3rem;
}

.service-details-modal .modal-dialog{
  width: 360px;
}

.service-details-modal .modal-body{
  padding: 0 15px;
}

.update-duration-modal .modal-body{
  padding-top: 0;
}

.circle{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  height: 90px;
  width: 90px;
}

.images-container{
  height: 105px;
  width: 160px;
}

.userimage{
  border: 3px solid #0C9DDC;
}

.petimage{
  border: 3px solid #FF8010;
  /*box-shadow: -5px 0px 2px -1px rgba(0, 0, 0, 0.1);*/
  margin-left: -2rem;
}

.info-container .form-group{
  border-bottom: 1px solid #e1e1e1;
  margin: 0 auto;
  padding: 0.75rem 0;
  width: 80%;
}

.info-container .form-group:last-child{
  border: none;
}

.price{
  color: #555;
  font-size: 1.6rem;
  padding: 0.9rem 0;
}

.alert-danger{
  margin-bottom: 0;
}

.pet-grid{
  transition: all 0.3s ease;
}

.pet-grid .col-md-3 .text-center{
  border: 3px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.pet-grid .circle{
  border: 3px solid #FFC531;
  box-shadow: inset -2px 4px 1px -1px rgba(0, 0, 0, 0.2);
  height: 70px;
  margin-top: 1rem;
  transition: all 0.5s ease;
  width: 70px;
}

.pet-grid h6{
  margin-bottom: 0.3rem;
}

.pet-grid p{
  font-size: 1.2rem;
}

.pet-grid .col-md-3 .text-center:hover{
  background-color: #f5f5f5;
  /*border: 2px solid #0C9DDC;*/
  transition: background-color 0.3s ease;
}

.pet-grid .col-md-3 .text-center.active{
  background-color: #f5f5f5;
}

.pet-grid .col-md-3 .text-center.active .circle{
  border: 3px solid #0C9DDC;
}

.bootstrap-datetimepicker-widget{
  opacity: 1;
  visibility: visible;
}

.timepicker{
  margin-left: 5rem;
  margin-top: 3rem;
  width: 36%;
}

.dropdown-toggle{
  border: 1px solid #E3E3E3;
}

.navbar-default .navbar-nav > li > a:not(.btn){
  border: none;
}

.schedule-cancel-modal p{
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

.actual-date{
  color: #777;
  font-size: 1.4rem;
  padding-top: 2rem;
}

.pe-7s-print{
  font-size: 4rem;
  width: 7%;
}

.logout-btn{
  bottom: 0;
  position: absolute;
  width: 100%;
}

.logout-btn a{
  border-radius: 0 !important;
  margin: 0 auto !important;
  text-align: center;
  width: 100%;
}

.logout-btn a i{
  float: none !important;
  margin: 0 !important;
  transition: all 0.3s ease;
}

.logout-btn:hover a i{
  color: #fb404b;
}

.card .description{
  color: #999;
  margin-top: 0.7rem;
}

.login-page{
  background-image: url(../images/login-bg-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}

.full-page[data-color="black"]{
  background-image: url(../images/owner-login-bg-image.jpg);
}

.full-page[data-color="black"]:after{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.owner-login-page .card{
  padding-bottom: 20px;
  padding-top: 0;
}

.login-page .header{
  font-size: 25px;
  font-weight: 100;
}

.card .table thead th:first-child{
  padding-left: 0;
}

.bootstrap-select{
  width: 100% !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
  background-color: #FF8010 !important;
}

table .user-image{
  background-image: url(../images/default.png);
  border: 3px solid #FFC531;
  box-shadow: inset 0px 5px 2px -1px rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 50px;
}

@media (max-width: 768px) {
  .login-content{
    width: 60%;
  }
}

@media (max-width: 768px) and (max-width: 1000px) {
    .login-content{
      width: 40%;
    }
}

@media (min-width: 1000px) and (max-width: 1500px) {
    .login-content{
      width: 30%;
    }
}

@media print{
  @page{
    margin: 0;
  }

  *, html, .fc-widget-content{-webkit-print-color-adjust: exact !important;}

  .hide-on-print, .fc-right, .fc-center, .footer{
    display: none !important;
  }
}

/*loader*/

body {
  margin: 0;
  padding: 0;
}

.cs-loader {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9999999;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 100%;
  color: #FFF;
  padding: 0 100px;
  text-align: center;
  z-index: 9999999;
}

.cs-loader-inner label {
  background-color: #FF8010;
  border: 2px solid #fff;
  border-radius: 100px;
  display:inline-block;
  font-size: 20px;
  height: 15px;
  opacity: 0;
  width: 15px;
  z-index: 9999999;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

.homepage .navbar-default{
  background-color: rgb(255, 190, 32) !important
}

.homepage .navbar-default .navbar-nav a,
.homepage .navbar-default .navbar-nav a:focus,
.homepage .navbar-default .navbar-nav a:hover,
.homepage .navbar-default .navbar-nav>.active>a,
.homepage .navbar-default .navbar-nav>.active>a:focus,
.homepage .navbar-default .navbar-nav>.active>a:hover{
  color: #fff !important;
}

.homepage .navbar-brand.logo{
  background-color: transparent;
  border: none;
  margin-left: 0 !important;
  margin-top: 2.5rem !important;
  width: 177px !important;
}

.navbar-brand.logo-transparent{
  border: none;
  background-color: transparent;
  background-image: url(../images/icon_transparent.png);
  display: block;
  float: none !important;
  height: 80px;
  margin: 0 auto !important;
  padding-top: 18rem !important;
  width: 80px;
}

.sidebar-wrapper .navbar-brand.logo-transparent{
  background-position: center !important;
  background-size: 71% !important;
  height: 40px !important;
  padding: 0 !important;
}

.owner .sidebar-wrapper .photo{
  background-image: url(../images/icon.png) !important;
}

.owner-login-page > .content{
    padding-top: 25vh;
}

#main-slider .slider-inner h2 > span {
  color: rgb(4, 147, 216);
}

span.orange {
  color: rgb(255, 190, 32) !important;
}

.dataTables_length, .dataTables_info{
  padding-top: 1rem;
  padding-left: 1.5rem;
}

.dataTables_paginate, .dataTables_filter{
  padding-right: 3rem;
}

.pagination > li.active > a, .pagination > li.active > span, .pagination > li.active > a:hover, .pagination > li.active > span:hover, .pagination > li.active > a:focus, .pagination > li.active > span:focus{
  outline: none;
}

tr{
  cursor: pointer;
}

td.back-image{
  border: none !important;
}

td.back-image .user-image{
  border-color: #fff;
}
