.bg-main-color{ background-color: #0C9DDC !important; }
.bg-second-color{ background-color: #FF8010 !important; }
.bg-red{ background-color: #FE0103; }
.bg-green{ background-color: #87CB16; }
.bg-yellow{ background-color: #FFC531; }
.bg-white{ background-color: #fff !important; }
.bg-gray{ background-color: #ededed !important; }
.bg-lighter-gray{ background-color: #f6f6f6 !important; }
.bg-darker-gray{ background-color: #9A9A9A !important; }
.facebook-btn{ background-color: #43609c !important; }
.list{ background: transparent; }

.main-color{ color: #0C9DDC !important; }
.second-color{ color: #FF8010 !important; }
.black { color: #000 !important; }
.white, .nav-bar-title{ color: #fff !important; }
.green{ color: #009400 !important; }
.red{ color: #fb404b !important; }
.gray{ color: #777 !important; }
.grayer{ color: #444 !important; }
.darker-gray{ color: #9A9A9A !important; }
.google-btn{ color: #dc4637 !important; }
